.composition {
  //changes position of child elements
  position: relative;
  
  &__photo {
    //images size should be defined w/ width % as often as possible
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;

    @include responsive(t-port) {
      float: left;
      position: relative;
      width: 33.3333333333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include responsive(t-port) {
        top: 0;
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include responsive(t-port) {
        top: 0;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include responsive(t-port) {
        top: 0;
      } 
    }

    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
      z-index: 20;
    }
  }

    &:hover &__photo:not(:hover) {
      transform: scale(.9);
    }
}

