.feature-box {
  background-color: rgba(255,255,255, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem ($color-black, .15);
  transition: transform .3s; 

  &__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
  }

  &__text {

  }
}
