 .story {
   width: 75%;
   margin: 0 auto;
   box-shadow: 0 3rem 6rem rgba($color-black, .1);
   background-color: rgba($color-white, .5);
   border-radius: 3px;
   padding: 6rem;
   padding-left: 9rem;
   font-size: $default-font-size;
   transform: skewX(-12deg);

  @include responsive(t-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include responsive(phone) {
    transform: skewX(0);
  }



   &__shape {
     //shape-outside must have float and height + width dimensions to work
     width: 15rem;
     height: 15rem;
     float: left;
     shape-outside: circle(50% at 50% 50%);
     -webkit-shape-outside: circle(50% at 50% 50%);
     -webkit-clip-path: circle(50% at 50% 50%);
     clip-path: circle(50% at 50% 50%);
     transform: translate(-3rem) skewX(12deg);
     position: relative;

     @include responsive(phone) {
      transform: translate(-3rem) skewX(0);
    }
   }

   &__image {
     height: 100%;
     transform: scale(1.3);
     backface-visibility: hidden;
     transition: all .5s;
   }

   &__text {
     transform: skewX(12deg);

     @include responsive(phone) {
      transform: skewX(0);
    }
   }

   &__caption {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, 20%);
     color: $color-white;
     text-transform: uppercase;
     text-align: center;
     opacity: 0;
     transition: all .5s;
     //can fix many transform glitches
     backface-visibility: hidden;
   }

   &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
   }

   &:hover &__image {
    transform: scale(1);
    filter: blur(3px) brightness(80%);
   }

 }