body {
  font-family: "Lato", sans-serif;
  font-weight: 400px;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
/* hides parent element during animation. Fixes bug in animation jitter */
  backface-visibility: hidden;
  margin-bottom: 60px; 
    &--main {
      display: block;
      font-size: 6rem;
      font-weight: 400;
      letter-spacing: 3.1rem;
      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;

      @include responsive(phone) {
        letter-spacing: 1rem;
        font-family: 5rem;
      }
    }
    
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 2.2rem;
        animation: moveInRight 1s ease-out;

        @include responsive(phone) {
          letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;

  @include responsive(t-port) {
    font-size: 3rem;
  }

  @include responsive(phone) {
    font-size: 2.5rem;
  }

    &:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      //x, y, blur, color
      text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2)
    }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}