// Colors
$color-primary: #055197;
$color-primary-light: #1282A2;
$color-primary-dark: #001F54;
$color-grey-dark: rgb(135, 135, 135);
$color-grey-light-1: #f7f7f7;
$color-black: #000000;

//Font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;