.header {
  height: 95vh;
  background-image: linear-gradient(
    to right bottom,
  rgba($color-primary-light, 0.705), 
  rgba($color-primary-dark, 0.705)),
  url(../images/hero1.jpeg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  position: relative;
  
  &__logo-box {
      position: relative;
      top: 4rem;
      left: 4rem;
      height: 7rem;
      width: 7rem;
      border-radius: 100%;
      background: #2d50a3;
      display: inline-block;
    }
    
    &__logo {
      height: 5rem;
      position: absolute;
      top: 1rem;
      left: 1.4rem;
      z-index: 2;
    }
    
    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
    }

    &__logo-wrap {
      height: 4.7rem;
      width: 3.9rem;
      background: white;
      position: absolute;
      z-index: 0;
      top: 1rem;
      left: 1.5rem;
    }

}